body{
	margin: 50px auto;
	width: 400px;
	font-family: 'ZCOOL KuaiLe', cursive;
	background-image: url("wolf2.jpg");

}
#o{
	min-height:  100px;
	font-size:  100px;
	text-align: center;

}
input{
	border: 1px solid #000000;
	width: 100px;
}
button{
	margin:20px 35px;
	width: 150px;
}
h1{
	text-align: center;
}